aiohttp==3.9.2
aiofiles==22.1.0
aiopg==1.4.0
anyio==3.5.0
fastapi==0.109.1
gunicorn==22.0.0
google-cloud-storage==2.13.0
numpy==1.19.5
librosa==0.8.0
pandas==1.4.0
Pillow==10.3.0
pydantic==1.9.1
python-dotenv==0.21.0
python-multipart==0.0.7
psycopg2-binary==2.9.6
requests==2.26.0
uvicorn[standard]==0.20.0
sqlalchemy==1.4.45